body, * {
  cursor: none!important;
}

.cursor {
  position: fixed;
  background-color: $WHITE;
  @include sameWidhtHeight(6px);
  border-radius: 100%;
  z-index: 10000;
  pointer-events: none;
  user-select: none;
}

.cursor-follower {
  position: fixed;
  background-color: rgba($ORANGE, 0.70);
  @include sameWidhtHeight(20px);
  border-radius: 100%;
  transition: .6s cubic-bezier(.75,-1.27,.3,2.33) transform,.2s cubic-bezier(.75,-.27,.3,1.33) opacity,.2s cubic-bezier(.75,-.27,.3,1.33) background-color;
  z-index: 10000;
  transform: translate(5px,5px);
  pointer-events: none;
  user-select: none;

  &.cursor-active  {
    transform: translate(5px,5px) scale(3.5);
  }
}

