@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@300,400;700&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

body {
  color: $WHITE;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.25;
}

// Defaults
h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 700;
}

p {
  font-family: 'Roboto', sans-serif;
  color: $GRAY;
}
