@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap');

body {
  color: $WHITE;
  font-family: 'Libre Baskerville', serif;
  line-height: 1.25;
}

// Defaults
h1, h2, h3, h4, h5, h6, b, strong {
  font-weight: 700;
}

h1, h2 {
  font-size: 72px;
}
