@mixin wrapper {
  position: absolute;
  @include sameTopLeft(0);
  @include sameWidhtHeight(100%);
}

.big-slider, .slider-image {
  @include wrapper();
}

.big-slider {
  overflow: hidden;
}

.slider-image {
  object-fit: cover;
  opacity: 0;
}
