button {
  font-family: 'Roboto', sans-serif;
  padding: 14px 64px;
  font-size: 14px;
  border-radius: 200px;
  background-color: $ORANGE;
  color: $WHITE;
  font-weight: 700;
  transition: all .4s ease;

  &:hover {
    background-color: $BLACK;
  }

  a {
    position: absolute;
    @include sameWidhtHeight(100%);
    @include sameTopLeft(0);
  }
}
