button {
  font-family: 'Roboto', sans-serif;
  padding: 14px 64px;
  font-size: 14px;
  border-radius: 200px;
  background-color: $ORANGE;
  color: $WHITE;
  font-weight: 700;
  transition: all .4s ease;

  a {
    position: absolute;
    @include sameWidhtHeight(100%);
    @include sameTopLeft(0);
  }

  &.button-circle {
    @include fCenter();
    @include sameWidhtHeight(50px);
    padding: 0;
    border-radius: 50%;
  }

  &:hover {
    background-color: $BLACK;
  }

  &.white-hover {
    &:hover {
      background-color: $WHITE;
      color: $BLACK;
    }
  }

  &.small-button {
    padding: 12px 24px;
  }
}
