$horizontal_lines: 5;
$vertical_lines: 8;

.grid {
  position: fixed;
  @include sameWidhtHeight(100%);
  @include sameTopLeft(0);

  .vertical, .horizontal {
    position: absolute;
    @include sameWidhtHeight(100%);
    @include sameTopLeft(0);
    .line {
      transform: scale(0);
      opacity: 0.3;
      &:last-child { display: none };
    }
  }

  .vertical {
    .line {
      position: absolute;
      top: 0;
      height: 100%;
      width: 1px;
      background-color: $BLACK;
      transform-origin: center top;
      @for $i from 1 through $vertical_lines {
        &:nth-child(#{$i}) {
          left: #{$i * (100 / $vertical_lines) * 1%}
        }
      }
    }
  }

  .horizontal {
    .line {
      position: absolute;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: lighten($BLACK, 4);
      transform-origin: left center;
      @for $i from 1 through $horizontal_lines {
        &:nth-child(#{$i}) {
          top: #{$i * (100 / $horizontal_lines) * 1%}
        }
      }
    }
  }
}
