$horizontal_lines: 3;
$vertical_lines: 5;

@mixin renderGridLinesPosition($vertical, $lines_count) {
  @for $i from 1 through $lines_count {
    $column_size: 100 / ($lines_count + 1);
    $position: #{($column_size * $i) * 1%};

    &:nth-child(#{$i}) {
      @if $vertical { left: $position}
      @else { top: $position }
    }
  }
}

@mixin renderTransitionDelayLines($lines_count) {
  @for $i from 1 through $lines_count {
    &:nth-child(#{$i}) {
      transition-delay: $i * 0.1s;
    }
  }
}

.grid {
  $self: &;

  position: fixed;
  @include sameWidhtHeight(100%);
  @include sameTopLeft(0);

  &__vertical, &__horizontal {
    position: absolute;
    @include sameWidhtHeight(100%);
    @include sameTopLeft(0);

    &__line {
      position: absolute;
      transform: scale(0);
      opacity: 0;
      background-color: $WHITE;
    }
  }

  &__vertical {
    &__line {
      top: 0;
      height: 100%;
      width: 1px;
      transform-origin: center top;
      @include renderGridLinesPosition(true, $vertical_lines);
    }
  }

  &__horizontal {
    &__line {
      left: 0;
      width: 100%;
      height: 1px;
      transform-origin: left center;
      @include renderGridLinesPosition(false, $horizontal_lines);
    }
  }

  // Grid modifications
  &--show {
    #{$self}__vertical, #{$self}__horizontal {
      &__line {
        opacity: 0.2;
        transform: scale(1);
        transition: all .8s ease;
      }
    }

    #{$self}__vertical {
      &__line { @include renderTransitionDelayLines($vertical_lines)};
    }

    #{$self}__horizontal {
      &__line { @include renderTransitionDelayLines($horizontal_lines)};
    }
  }
}
