$horizontal_lines: 3;
$vertical_lines: 5;

@mixin renderGridLinesPosition($vertical, $lines_count) {
  @for $i from 1 through $lines_count {
    $column_size: 100 / ($lines_count + 1);
    $position: #{($column_size * $i) * 1%};

    &:nth-child(#{$i}) {
      @if $vertical { left: $position}
      @else { top: $position }
    }
  }
}

.grid {
  position: fixed;
  @include sameWidhtHeight(100%);
  @include sameTopLeft(0);

  .vertical, .horizontal {
    position: absolute;
    @include sameWidhtHeight(100%);
    @include sameTopLeft(0);
    .line {
      position: absolute;
      transform: scale(0);
      opacity: 0.3;
      background-color: $WHITE;
    }
  }

  .vertical {
    .line {
      top: 0;
      height: 100%;
      width: 1px;
      transform-origin: center top;
      @include renderGridLinesPosition(true, $vertical_lines);
    }
  }

  .horizontal {
    .line {
      left: 0;
      width: 100%;
      height: 1px;
      transform-origin: left center;
      @include renderGridLinesPosition(false, $horizontal_lines);
    }
  }
}
