$loader-transition: 1s;

.loader {
  $self: &;

  position: fixed;
  @include sameTopLeft(0);
  @include sameWidhtHeight(100%);
  z-index: 3000;

  &__vertical-line {
    width: 1px;
    height: 100%;
    position: absolute;
    transform-origin: center top;
    transition: all #{$loader-transition / 0.5} ease;
    @include transformCenterX();

    &__default, &__progress {
      position: absolute;
      @include wrapper();
    }

    &__default { background-color: lighten($BLACK, 5) }

    &__progress {
      transform-origin: center bottom;
      transform: scale(0);
      background-color: lighten($BLACK, 50);
      transition: all $loader-transition ease;
    }
  }

  &__left-side, &__right-side {
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;

    &__progress {
      font-size: 96px;
      position: absolute;
      top: 50%;
      opacity: 0;
      transition: all $loader-transition ease;
    }

    &__background {
      @include wrapper();
      background-color: $BLACK;
      transition: all $loader-transition ease;
      transform: translateX(0);
    }
  }

  &__left-side {
    left: 0;

    &__progress {
      right: 0;
      transform: translate(50%, -50%) scale(0);
      &--show {
        opacity: 1;
        transform-origin: right center;
        transform: translate(50%, -50%) scale(1);
      }
    }
  }

  &__right-side {
    right: 0;

    &__progress {
      left: 0;
      transform: translate(-55%, -40%) scale(0);
      &--show {
        opacity: 1;
        transform-origin: left center;
        transform: translate(-55%, -40%) scale(1);
      }
    }
  }

  @supports (-webkit-touch-callout: none) {
    .loader__left-side__progress { display: none; }
    .loader__right-side__progress { display: none; }
  }

  // LOADER MODIFICATIONS
  &--hide {
    visibility: hidden;
    pointer-events: none;
    transition-delay: $loader-transition;

    #{$self}__vertical-line {
      transform: translateX(-50%) scale(0);
    }

    #{$self}__left-side {
      &__background {
        transform: translateX(-100%);
        transition-delay: $loader-transition * 0.8;
      }
    }

    #{$self}__right-side {
      &__background {
        transform: translateX(100%);
        transition-delay: $loader-transition * 0.8;
      }
    }
  }
}
