$loader-size: 50px;

.loader-holder {
  position: absolute;
  @include sameWidhtHeight(100%);
  @include sameTopLeft(0);
  @include fCenter();
  background-color: $WHITE;

  &__mini-loader {
    background-color: $WHITE;

    svg {
      animation: 2s linear infinite svg-animation;
      max-width: 100px;
      @include sameWidhtHeight(50px);
    }

    @keyframes svg-animation {
      0% {
        transform: rotateZ(0deg);
      }
      100% {
        transform: rotateZ(360deg)
      }
    }

    circle {
      animation: 1.4s ease-in-out infinite both circle-animation;
      display: block;
      fill: transparent;
      stroke: $BLACK;
      stroke-linecap: round;
      stroke-dasharray: 283;
      stroke-dashoffset: 280;
      stroke-width: 10px;
      transform-origin: 50% 50%;
    }

    // Circle animation.
    @keyframes circle-animation {
      0%,
      25% {
        stroke-dashoffset: 280;
        transform: rotate(0);
      }

      50%,
      75% {
        stroke-dashoffset: 75;
        transform: rotate(45deg);
      }

      100% {
        stroke-dashoffset: 280;
        transform: rotate(360deg);
      }
    }
  }
}
