.navigation {
  $self: &;

  position: fixed;
  @include sameTopLeft(0);
  @include fCenter();
  width: 100%;
  height: 80px;

  &__logo {
    position: absolute;
    @include transformCenter();
    @include fCenter();
    flex-direction: column;
    width: 50px;

    &__text {
      margin-top: 4px;
      font-size: 10px;
      letter-spacing: 2px;
      text-align: center;
      font-family: "Roboto", sans-serif;
      transition: all .6s ease;
    }
  }

  svg path {
    transition: all .6s ease;
  }

  &--dark-mode {
    svg path { fill: $BLACK!important; }
    #{$self}__logo {
      &__text { color: $BLACK }
    }
  }
}
