.radio-box {
  display: flex;
  flex-wrap: wrap;
  > * { @include marginRight(10px); }

  button {
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid $DARK_MODE_GRAY;
    padding: 8px 12px;
    color: $BLACK;
    &.selected {
      background-color: $ORANGE;
      border-color: transparent;
      color: $WHITE;
    }
  }
}
