$horizontal_lines: 3;
$vertical_lines: 5;

$vertical_part: 100 / ($vertical_lines + 1);
$horizontal_part: 100 / ($horizontal_lines + 1);

.home {
  position: fixed;
  @include sameTopLeft(0);
  @include sameWidhtHeight(100%);
}

.home-photos {
  @include wrapper();

  &__holder {
    @include wrapper();
    display: flex;
    flex-direction: column;
    transition: all 1s ease;

    &__image {
      width: 100vw;
      height: 100vh;
      overflow: hidden;

      img {
        @include wrapper();
        transform: scale(1.4);
        transition: all .8s ease;
        object-fit: cover;
      }

      &--active {
        img {
          transform: scale(1);
        }
      }
    }
  }
}

.home-content {
  @include transformCenter();
  position: fixed;
  width: #{4% * $vertical_part};
  height: #{2% * $horizontal_part};
}
