// Holder 1s

.home {
  position: fixed;
  @include sameTopLeft(0);
  @include sameWidhtHeight(100%);
}

.photos {
  @include wrapper();

  &__holder {
    @include wrapper();
    display: flex;
    flex-direction: column;
    transition: all 1s ease;

    &__image {
      width: 100vw;
      height: 100vh;
      overflow: hidden;

      img {
        @include wrapper();
        transform: scale(1.4);
        transition: all .8s ease;
        object-fit: cover;
      }

      &--active {
        img {
          transform: scale(1);
        }
      }
    }
  }
}
