$horizontal_lines: 3;
$vertical_lines: 5;

$vertical_part: 100 / ($vertical_lines + 1);
$horizontal_part: 100 / ($horizontal_lines + 1);

.home {
  position: fixed;
  @include sameTopLeft(0);
  @include sameWidhtHeight(100%);
}

.home-photos {
  @include wrapper();

  &__holder {
    @include wrapper();
    display: flex;
    flex-direction: column;
    transition: all 1s ease;

    &__image {
      width: 100vw;
      height: 100vh;
      overflow: hidden;

      img {
        @include wrapper();
        transform: scale(1.4);
        transition: all .8s ease;
        object-fit: cover;
      }

      &--active {
        img {
          transform: scale(1);
        }
      }
    }
  }
}

@mixin charsDelay() {
  &:nth-child(1) { transition-delay: 0.05s; }
  &:nth-child(2) { transition-delay: 0.13s; }
  &:nth-child(3) { transition-delay: 0.08s; }
  &:nth-child(4) { transition-delay: 0.18s; }
  &:nth-child(5) { transition-delay: 0.22s; }
  &:nth-child(6) { transition-delay: 0.14s; }
  &:nth-child(7) { transition-delay: 0.06s; }
  &:nth-child(8) { transition-delay: 0.02s; }
  &:nth-child(9) { transition-delay: 0.09s; }
  &:nth-child(10) { transition-delay: 0.17s; }
  &:nth-child(10) { transition-delay: 0.10s; }
  &:nth-child(11) { transition-delay: 0.20s; }
  &:nth-child(12) { transition-delay: 0.23s; }
  &:nth-child(13) { transition-delay: 0.08s; }
  &:nth-child(14) { transition-delay: 0.14s; }
  &:nth-child(15) { transition-delay: 0.19s; }
  &:nth-child(16) { transition-delay: 0.03s; }
  &:nth-child(17) { transition-delay: 0.07s; }
  &:nth-child(18) { transition-delay: 0.18s; }
  &:nth-child(19) { transition-delay: 0.22s; }
  &:nth-child(20) { transition-delay: 0.10s; }
};

.content-holder {
  @include transformCenter();
  @include fCenter();
  flex-direction: column;
  position: fixed;
  width: #{4% * $vertical_part};
  height: 100%;
}

.headline-holder {
  $self: &;

  @include fCenter();
  width: 100%;
  height: 140px;

  &__headline {
    overflow: hidden;
    font-size: 98px;
    position: absolute;

    &__char {
      transform: translateY(100%);
      min-width: 30px;
      transition: all .6s ease;
      @include charsDelay();
    }

    &--dark-mode { color: $BLACK }
  }

  &--show {
    #{$self}__headline {

      &__char {
        transform: translate(0);
      }

      &--up { .headline-holder__headline__char {
        transform: translateY(-100%);
      } }

      &--down { .headline-holder__headline__char {
        transform: translateY(100%);
      } }
    }
  }
}

.date-holder {
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 2px;
  overflow: hidden;
  height: 28px;
  margin-bottom: 30px;

  &__slider {
    flex-direction: column;
    @include fCenter();
    width: 100%;
    transition: all .6s ease;

    p.dark-mode { color: $DARK_MODE_GRAY; }
  }
}

.portfolio-link {
  position: fixed;
  @include transformCenterX();
  top: 140px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 22px;
  letter-spacing: 5px;
  transition: all .6s ease;
  &--dark-mode { color: $BLACK }
  &:hover { color: $ORANGE }
}

.create-section-button {
  position: fixed;
  right: $vertical_part * 1%;
  bottom: $horizontal_part * 1%;
  transform: translate(50%, 50%);
  &--hide { transform: translate(50%, 50%) scale(0); }
  @media (max-width: 1120px) { display: none!important; }
}

.update-section-button {
  position: fixed;
  top: $horizontal_part * 1%;
  right: $vertical_part * 1%;
  transform: translate(-30px, 30px);
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
  color: $GRAY;
  font-family: "Roboto", sans-serif;
  transition: all .6s ease;
  &:hover { color: $ORANGE; }
}
