.login {
  position: fixed;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
  background-color: $BLACK;

  > div {
    @include wrapper();
    @include fCenter();
    flex-direction: column;
    width: 280px;
    @include transformCenterX();
    > * { @include marginBottom(30px); }
  }
}
